body {
  background-color: #3a3e71;
  display: flex;
}

button {
  font-weight: bold;
  cursor: pointer;
}

.todo-empty-title {
  color: #575eea73;
  text-shadow: 1px 4px 5px #00000045;
}

#app {
  border-radius: 5px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: max-content;
  margin: 100px auto;
  padding: 17px 17px 0;
  width: 50%;
  border: 1px solid white;
  background-color: white;
}

.header {
  border-bottom: 1px solid rgb(184, 182, 182);
}

.add-item-input,
.todo-edit-input {
  color: gray;
  padding: 4px 8px;
}

.item-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5d5d5d;
  font-weight: bold;
}

.editer-item-wrapper {
  box-shadow: 0px 2px 4px 0px #a79f9f;
}

.disabled {
  opacity: 0.6;
}

.add-item-btn {
  background-color: #ec5926;
  margin: 0 10px;
  color: white;
  border-radius: 4px;
  border: 1px solid #ce8c6f;
  transition: all 0.1s ease-in;
}

.add-item-btn:hover {
  background-color: white;
  color: #ec5926;
}

.delete-todo {
  margin-left: 10px;
}

.todo-options-buttons {
  display: flex;
  justify-content: flex-end;
}

.delete-all-btn,
.edit-todo,
.delete-todo {
  border: 1px solid #ec5926;
  background: white;
  padding: 4px 10px;
  color: #8e3516;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

.btn-edit-item {
  padding: 10px;
  background: white;
  color: #409eff;
  border-color: #409eff;
}

.btn-edit-item:hover {
  background-color: #409eff;
  color: white;
}

.btn-delete-item {
  color: #f56c6c;
  border-color: #f56c6c;
  background: white;
}

.btn-delete-item:hover {
  background-color: #f56c6c;
  color: white;
}

.delete-all-btn:hover,
.edit-todo:hover,
.delete-todo:hover {
  background-color: #ec5926;
  color: white;
}

.todo-value {
  margin-left: 10px;
  font-size: 12px;
}

.todo-time {
  font-size: 10px;
  margin-left: 30px;
  opacity: 0.4;
  font-style: italic;
  overflow: auto;
}

.todo-item-wrapper {
  margin: 10px -6px;
}

.el-card__body {
  padding: 0 !important;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.editer-item-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  justify-content: space-between;
}

.delete-todo-item {
  margin-left: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
}

.edit-todo-item {
  border: 1px solid green;
  color: green;
  background: white;
  font-size: 17px;
  border-radius: 5px;
}

.complited {
  text-decoration: line-through;
}

.filters {
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
}
.btn-filter {
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #ec5926;
  background: white;
  color: #b34d28;
  transition: all 0.1s ease-in;
}

.btn-filter:hover {
  background-color: #ec5926;
  color: white;
}

.todo-options-addition-buttons {
  display: flex;
  justify-content: flex-end;
}

.el-form-item__content .add-item-btn {
  background-color: white;
  color: #565eea;
  border: 1px solid #565eea;
  transition: all 0.1s ease;
}

.add-item-btn:hover {
  background-color: #565eea;
  color: white;
  border: 1px solid #565eea;
}

.el-form-item__content .delete-all-item-btn {
  background-color: white;
  color: #ff4a4a;
  border: 1px solid #ff4a4a;
}
.delete-all-item-btn:hover {
  background-color: #dc1111e6;
  color: white;
  border: 1px solid #ff4a4a;
}

.todo-options-buttons button {
  color: #e6a23c;
  background-color: white;
  border-color: #dad8d6;
  transition: all 0.1s ease;
}

.todo-options-buttons button:hover {
  color: white;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.todo-options-buttons button:focus {
  color: white;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.todo-options-addition-buttons .update-item {
  color: #34db01;
  background-color: white;
  border-color: #57eb01;
  transition: all 0.1s ease;
}
.update-item:hover {
  color: white;
  background-color: #34db01;
  border-color: #57eb01;
}

.todo-options-addition-buttons .cancle-btn {
  color: #db0101cb;
  background-color: white;
  border-color: #db0101cb;
  transition: all 0.1s ease;
}

.cancle-btn:hover {
  color: white;
  background-color: #db0101cb;
  border-color: #db0101cb;
}

.filter-button {
  color: #e6a23c;
  background-color: white;
  border-color: #dad8d6;
  transition: all 0.1s ease;
}

.filter-button:hover {
  color: white;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.filter-button:focus {
  color: white;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.login-form-buttons {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.sing-up-error-message {
  color: rgba(218, 57, 57, 0.93);
  position: absolute;
  top: 85%;
  left: 15%;
}

.login-create-account-btn {
  color: #e6a23c;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: #565eea;
  border: 1px solid #565eea;
  transition: all 0.1s ease;
}

.login-btn:hover {
  background-color: #565eea;
  color: white;
  border: 1px solid #565eea;
}

.el-icon-user {
  font-weight: bold;
  font-size: 18px;
}

.user-name-title {
  margin: 7px;
  font-style: italic;
  color: #3a3e71;
}

.logaout-btn {
  font-size: 11px;
  color: #f3ac0a;
  cursor: pointer;
}

.header-info {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.user-icon {
  margin: 9px 0px;
}
